{% extends 'base.html' %}

{% block head %}
<title>Momi ERP/POS - Dashboard</title>
{% endblock %}

{% block content %}


<div class="level">
    <div class="level-left">
      <div class="level-item">
          <div class="title">Dashboard</div>
      </div>
    </div>
    <div class="level-right">
      <div class="level-item">
        <button type="button" class="button is-small">
            Fecha: 
          {% if fecha %} 
            {{ fecha }}
          {% else %}
            dd-mmm-yyyy
          {% endif %}
        </button>
      </div>
    </div>    
  </div>

  <p>En desarrollo...</p>



  {% endblock %}